body{
    background-color: black;
}

.p-dark{
    color: white;
}

.photography{
    color: white;
}

.main-container-two{
    display: flex;
    flex-wrap: wrap;
}

.main-container-one{
    color: white;
    border: none;
    text-align: center;
    margin-left: 1200px;
    font-size: 24px;
}

.text-1{
    color: white;
}