:root {
  --logo-color: #95e1d3;
  --deco-color: rgb(243, 129, 129);
  --text-color: rgb(182, 182, 182);
  --title-color: rgb(51, 51, 51);
  --button-color: rgb(255, 255, 255);
}

body{
  background-color: #FFFFFF;
}

.header-container{
  margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
  margin-bottom: 68px;
}

.box::before{
content: "";
display: block;
position: absolute;
left: 20px;
right: -20px;
top: 20px;
bottom: -20px;
background: linear-gradient(180deg, rgba(239, 139, 138, 0.8), rgba(229,
207, 130, 0.8) 100%);
box-shadow: -10px -10px 30px #333;
}

.box img{
  width: 100%;
display: block;
}

.box {
width: 350px;
position: relative;
}

.main-container-one{
    margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
}
.main-container-two{
    margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
  margin-bottom: 100px;
}

.main-container-three{
      margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
  margin-bottom: 27px;
}

.main-container-four{
      margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
}

.logo {
  color: var(--logo-color);
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.button {
  background-color: var(--logo-color);
  color: var(--button-color);
  font-size: 14px;
}

.ABOUT {
  color: var(--deco-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}


.r {
  color: var(--text-color);
}

.rel{
  color: var(--logo-color);
  text-decoration: none;
  color: var(--logo-color);
}


.span-footer{
  color: rgb(243, 129, 129)
}

.man-list{
  display: flex;
  flex-wrap: wrap;
    text-decoration: none;
}

.meet{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 37px;
letter-spacing: 0%;
}

.photography{
  text-transform: uppercase;
}

.hr{
  width: 1200px;
}

.footer-container{
      margin: 0 auto;
  border: solid 1px;
  max-width: 1200px ;
}

.lorem-i{
  color: var(--text-color);
}

.span{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}